$susy: (
  columns: 12,
  gutters: 1/8,
  math: fluid,
  output: float,
  gutter-position: outside,
  global-box-sizing: border-box,
  // debug: (image: show)
);

/// Absolute height of body text, in pixels
/// @type Number
$base-font-size: 18px;


/// Absolute height of one line of type, in pixels
/// @type Number
$base-line-height: 24px;

/**
 * Initiate Susy and Vertical Rhythm configurations
 */
  @include border-box-sizing;
  @include establish-new-baseline;




.information-block {
  @include container();
  @include susy-breakpoint($screen-small-8cols, 8) {
    @include container();
    .col1{
      @include span(8);
    }
    .box1{
      @include span(8);
      background-color: $c-silver-sand;
      height: 90px;
      color:$c-white;
      font-family: $ff--alternate;
      font-weight: $fw--100;
    /*  &:hover{
        background-color:$c-pomegranate;
      }*/
      p{
        text-align: center;
        font-size: 25px;
        padding-top: 30px;
      }
      .active{
        background-color:$c-pomegranate;
      }
    }
    .box2{
      @include span(8);
      background-color: $c-manatee;
      color:$c-white;
      height: 90px;
      font-family: $ff--alternate;
      font-weight: $fw--100;
      /*&:hover{
        background-color:$c-pomegranate;
      }*/
      p{
        text-align: center;
        font-size: 25px;
        padding-top: 30px;
      }
      .active{
        background-color:$c-pomegranate;
      }
    }
    .box3{
      @include span(8);
      background-color: $c-osio-gray;
      color:$c-white;
      height: 90px;
      font-family: $ff--alternate;
      font-weight: $fw--100;
    /*  &:hover{
        background-color:$c-pomegranate;
      }*/
      p{
        text-align: center;
        font-size: 25px;
        padding-top: 30px;
      }
      .active{
        background-color:$c-pomegranate;
      }

    }
    .box4{
      @include span(8);
      background-color: $c-manatee;
      color:$c-white;
      height: 90px;
      font-family: $ff--alternate;
      font-weight: $fw--100;
      /*&:hover{
        background-color:$c-pomegranate;
      }*/
      p{
        text-align: center;
        font-size: 25px;
        padding-top: 30px;
      }
      .active{
        background-color:$c-pomegranate;
      }

    }

    .fa { transform: scale(2,2); }

    .col-derecha{
      @include span(8);
      .tab-content{
        @include span(8);
        p{
          font-family: $ff--alternate;
          color:$c-black;
        }
        ul{
          list-style:none;
        }
    }
    .tab-content-2col{
      @include span(8);
    }
  }

  }
  @include susy-breakpoint($screen-medium-12cols, 12) {
    @include container();
    z-index: 100;
    position: relative;
    margin-top: -390px;
    .container-information{
       @include span(73.33333%);
       float:right;
       &:after{
         content: " ";
         display: block;
         clear: both;
       }
    }
    .col-izquierda{
      @include span(31.25%);
      display: flex;
      .box1{
        @include span(12);
        background-color: $c-silver-sand;
        height: 194px;
        //margin-left: 277px;
        //color:$c-white;
        font-family: $ff--alternate;

        /*&:hover{
          background-color:$c-pomegranate;
        }*/
        p{
        font-size: 35px;
        text-align: center;
        //font-weight: 400;
        line-height: 39px;
        padding-top: 60px;
        font-weight: $fw--100;
        }

      }
      .box2{
        @include span(12);
        background-color: $c-manatee;
        color:$c-white;
        height: 194px;
        font-family: $ff--alternate;
        //font-weight: $fw--100;
        //margin-left: 277px;
      /*  &:hover{
          background-color:$c-pomegranate;
        }*/
        p{
        font-size: 35px;
        text-align: center;
        font-weight: 400;
        line-height: 39px;
        padding-top: 60px;
        font-weight: $fw--100;
        }
        .active{
          background-color:$c-pomegranate;
        }
      }

      .box3{
        @include span(12);
        background-color: $c-osio-gray;
        color:$c-white;
        height: 194px;
        font-family: $ff--alternate;

        //margin-left: 277px;
      /*  &:hover{
          background-color:$c-pomegranate;
        }*/
        p{
        font-size: 35px;
        text-align: center;
        font-weight: 400;
        line-height: 39px;
        padding-top: 60px;
        font-weight: $fw--100;
        }
        .active{
          background-color:$c-pomegranate;
        }

      }

      .box4{
        @include span(12);
        background-color:$c-manatee;
        color:$c-white;
        height: 194px;
        font-family: $ff--alternate;
        //font-weight: $fw--100;
        //margin-left: 277px;
        /*&:hover{
          background-color:$c-pomegranate;
        }*/
        p{
        font-size: 35px;
        text-align: center;
        font-weight: 400;
        line-height: 39px;
        padding-top: 60px;
        font-weight: $fw--100;
        }
        .active{
          background-color:$c-pomegranate;
        }


      }

    }
    .col-derecha{
      @include span(68.75%);
      .tab-content{
      margin-top:60px;
      margin-left:10px;

      p{
        font-family: $ff--alternate;
        color:$c-black;
        font-size: 35px;
        font-weight: 400;
        line-height: 39px;
        text-align: left;
        padding-left: 30px;
        font-weight: $fw--100;
      }

      ul{
        list-style:none;
      }

      li{
        padding-bottom: 10px;
      }

    }

    .tab-content-2col{
        h2{
          font-family: $ff--alternate;
          color:$c-black;
          font-size: 35px;
          font-weight: $fw--100;
          line-height: 2.5rem;
          text-align: left;
          padding-left:50px;
          margin-top:60px;
          width: 80%;
        }

       p{
         margin-top: 30px;
         padding-left:50px;
         width: 60%;
       }

      ul{
        list-style:none;
      }
    }

    #tab-content1{
    display:block;
    }


.tabcontent {
    @include span(12);
    display: none;
}

.row-title{
    h2{
      font-family: $ff--alternate;
      font-size: 35px;
    }

}




  }
  .fa {
    display: none;
  }
    }

    .active{
      background-color:$c-pomegranate !important;
    }

  @include breakpoint($bp--medium-range){
      @include container();
      margin-top: -310px;
      .container-information{
         @include span(68.75%);
         float:right;
         &:after{
           content: " ";
           display: block;
           clear: both;
         }
      }
  }

}






/*.information-block{
  //position:absolute;
  //top:100%;
  z-index: 200;
}*/
